<?xml version="1.0"?>
<launch>
    <!-- Include the MAVROS node with SITL and Gazebo -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
    </include>

    <!-- Our node to control the drone -->
    <!-- <node pkg="uav_positioning" type="controller.py" name="offb_node_py" required="true" output="screen" /> -->
    <!-- <node pkg="uav_positioning" type="topic_control.py" name="offb_node_py" required="true" output="screen" /> -->
    <node pkg="uav_positioning" type="keyboard_control.py" name="offb_node_py" required="true" output="screen" />
    <!-- <node pkg="uav_positioning" type="key_control.py" name="offb_node_py" required="true" output="screen" /> -->
</launch>
